@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --navy: #0a1628;
  --darkBlue: #1a2f4b;
  --gold: #d4af37;
  --softGold: #f4e4c1;
  --goldBright: #ffb81c;
  --goldShimmer: #ffd700;
  --white: #ffffff;
  --gray: #e5e5e5;
  --grayMedium: #9ca3af;
  --copper: #b87333;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background:
    radial-gradient(
      circle at top right,
      rgba(212,175,55,0.15),
      transparent 30%
    ),
    #0a1628;

  color: white;

  overflow-x: hidden; */
  background:
    radial-gradient(
      circle at top right,
      rgba(212, 175, 55, 0.15),
      transparent 25%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(26, 47, 75, 0.7),
      transparent 35%
    ),
    linear-gradient(
      135deg,
      #0a1628 0%,
      #10203a 40%,
      #1a2f4b 100%
    );

  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}
body::before {
  content: "";

  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(
      rgba(255,255,255,0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.03) 1px,
      transparent 1px
    );

  background-size: 50px 50px;

  pointer-events: none;

  z-index: -1;
}
body::after {
  content: "";

  position: fixed;

  top: -300px;
  right: -300px;

  width: 700px;
  height: 700px;

  background: rgba(212, 175, 55, 0.12);

  filter: blur(140px);

  border-radius: 50%;

  pointer-events: none;

  z-index: -1;
}
.glass {
  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.1);

  border-radius: 24px;
}
.hover-lift {
  transition: all .3s ease;
}

.hover-lift:hover {
  transform: translateY(-6px);
}

img {
  transition: all 0.5s ease;
}

.hover-lift:hover img {
  transform: scale(1.05);
}
